<div class="row">

  <div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Demande de bac vert > Connexion</div>
		  <div class="panel-body">
		  	<p>Bonjour 
		  	<% if @user['gender'] == 'female' %>
		  		Madame
		  	<% else %>
		  		Monsieur
		  	<% end %>	
		  	<%= "#{@user['given_name']} #{@user['family_name']}" %>
		  	</p>
		  	<p>
				Vous avez autorisé la Métropole à accéder à des données vous concernant, sur plusieurs sites de l'administration.
				Cette action simplifie vos demandes en ligne. Vous pouvez dès à présent poursuivre votre démarche.
			</p>
			<p>
				<a href='/' class="btn btn-default btn-sm"><span class="glyphicon glyphicon-home"></span> Revenir</a>
				<a href='/etape2' class="btn btn-primary btn-sm">Poursuivre &#155;</a>
			</p>
		  </div>
	  </div>
  </div>

  <div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Debug panel</div>
		  <div class="panel-body">
				<table class="table table-striped">
				  <% for k, v in @user %>
				    <tr>
				    	<td><%= k %></td>
				    	<td><%= v%></td>
			    	</tr>
				  <% end %>
				</table>
				<table class="table table-striped">
				  <% for k, v in @credentials %>
				    <tr>
				    	<td><%= k %></td>
				    	<td><%= v %></td>
				    </tr>
				  <% end %>
				</table>
		  </div>
	  </div>
  </div>
</div>
