<div class="row">

  <div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading">User Infos</div>
		  <div class="panel-body">
				<table class="table table-striped">
				  <% for k, v in @user %>
				    <tr>
				    	<td><%= k %></td>
				    	<td><%= v%></td>
			    	</tr>
				  <% end %>
				</table>
		  </div>
	  </div>
  </div>

  <div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Credentials</div>
		  <div class="panel-body">
				<table class="table table-striped">
				  <% for k, v in @credentials %>
				    <tr>
				    	<td><%= k %></td>
				    	<td><%= v %></td>
				    </tr>
				  <% end %>
				</table>
		  </div>
	  </div>
  </div>
</div>

<div class="row">
	<div class="col-md-11">
		<% if @data %>
			<table class="table table-stripped">
			<% @data['records'].first['fields'].each { | k, v | %>
				<th><%="#{k}"%></th> 
			<% } %>
			<% @data['records'].each { | r | %>
				<tr>
					<% r['fields'].each { | k, value | %>
					<td><%=" #{value}" || "&nbsp;" %></td> 
					<% } %>
				</tr> 
			<% } %>
			</table>
		<%else %>
		No Data Available !
		<%end %>
	</div>
</div>
